<app-navbar></app-navbar>
<section class="service_part section_padding">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="single_service_text">
                    <h2>We Provide Best Services</h2>
                    <p>Some jargon about how awesome it is to work here</p>
                    <a href="javascript:void(0);" routerLink="/about" class="btn_2">
                        Learn More
                    </a>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <h3 style="font-size: 1.2rem;">Available Vacancies</h3>
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action"
                        *ngFor="let vacancy of vacancies" (click)="selectVacancy(vacancy)">{{ vacancy }}</button>
                </div>
            </div>
        </div>
    </div>
</section>